/**
 * Tableless Layout - additional CSS for arctic-template
 *
 * @author Michael Klier <chi@chimeric.de>
 */

/* -------------- top row --------------- */
div.dokuwiki .header {
  height:__heightHeader__;
  border:1px solid __mediumgray__;
  background-color:__WikiHeaderBg__;
  margin-bottom:0.2em;
}

div.dokuwiki .pagename {
  margin:0.2em;
  font-size:130%;
  color:__PageNameColor__;
}

div.dokuwiki .logo {
  margin:0.2em;
  font-size:130%;
}

div.dokuwiki .pagename a:link, div.dokuwiki .pagename a:visited, div.dokuwiki .pagename a:hover, div.dokuwiki .pagename a:active {
  color:__PageNameColor__;
}

div.dokuwiki .logo a:link, div.dokuwiki .logo a:visited, div.dokuwiki .logo a:hover, div.dokuwiki .logo a:active {
  color:__LogoColor__;
}


/* ---------------  top and bottom bar ---------------- */
div.dokuwiki .bar {
  border-top:1px solid __mediumgray__;
  border-bottom:1px solid __mediumgray__;
  padding-left:0.3em;
  padding-right:0.3em;
} 

div.dokuwiki #bar__top {
  height:1.6em;
  background:none;
  margin-bottom:0.2em;
}

div.dokuwiki #bar__bottom {
  height:1.6em;
  background:none;
  margin-top:0.2em;
}

/* ------------- File Metadata ----------------------- */
div.dokuwiki div.meta {
  padding-left:0.5em;
  padding-right:0.5em;
}

/* 
setup vim: ts=2 sw=2:
*/
