
body {
  font: 10pt "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif;
  background-color: White;
  color: Black;
}

div.dokuwiki div.left_sidebar,
div.dokuwiki div.right_sidebar {
  display:none;
}

div.dokuwiki table {
  font-size: 100%;
  padding:0;
  margin:0;
}

div.dokuwiki tr,div.dokuwiki td,div.dokuwiki th {padding:0; margin:0;}

div.dokuwiki img {border:0}

div.dokuwiki a {
  color:#000000;
  text-decoration:none;
}


div.dokuwiki div.meta {
  clear:both;
  margin-top: 1em;
  font-size:70%;
  text-align:right;
}

div.dokuwiki div.breadcrumbs{
  display:none;
}

div.dokuwiki div.secedit{
  display:none;
}

/* --------------------- Text formating -------------------------------- */

/* external link */
div.dokuwiki a.urlextern:after {
   content: " [" attr(href) "]";
   font-size: 90%;
}

/* interwiki link */
div.dokuwiki a.interwiki:after {
   content: " [" attr(href) "]";
   font-size: 90%;
}

/* email link */
div.dokuwiki a.mail:after {
   content: " [" attr(href) "]";
   font-size: 90%;
}

/* existing wikilink */
div.dokuwiki a.wikilink1    {text-decoration:underline }

/* the document */
div.dokuwiki div.page {
  text-align: justify;
}

/* general headline setup */
div.dokuwiki h1, div.dokuwiki h2, div.dokuwiki h3, div.dokuwiki h4, div.dokuwiki h5 {
    color: Black;
    background-color: transparent;
    font-family: "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif;
    font-size: 100%;
    font-weight: normal;
    margin-left:    0;
    margin-right:   0;
    margin-top:     0;
    margin-bottom:  1em;
    padding-left:   0;
    padding-right:  0;
    padding-top:    0.5em;
    padding-bottom: 0;
    border-bottom: 1px solid #000000;
    clear:left;
}

/* special headlines */
div.dokuwiki h1 {font-size: 160%; font-weight: bold;}
div.dokuwiki h2 {font-size: 150%; }
div.dokuwiki h3 {font-size: 140%; border-bottom: none; }
div.dokuwiki h4 {font-size: 120%; border-bottom: none; }
div.dokuwiki h5 {font-size: 100%; border-bottom: none; }

/* embedded images */
div.dokuwiki img.media {
  margin: 3px;
}

div.dokuwiki img.medialeft {
  border: 0;
  float: left;
  margin: 0 1.5em 0 0;
} 
  
div.dokuwiki img.mediaright {
  border: 0;
  float: right;
  margin: 0 0 0 1.5em;
}

/* unordered lists */
div.dokuwiki ul { 
    line-height: 1.5em;
    list-style-type: square;
    margin: 0 0 1.0em 1.5em;
    padding: 0;

}

/* ordered lists */
div.dokuwiki ol {
    line-height: 1.0em;
    margin: 0 0 1.0em 1.0em;
    padding: 0;
    font-weight: normal;
}

/* the list items overriding the ol definition */
div.dokuwiki span.li {
    font-weight: normal;
}

/* code blocks by indention */
div.dokuwiki pre.pre {
  font-size: 8pt;
  padding: 0.5em;
  border: 1px dashed #000000;
  color: Black;
  overflow: visible;
}

/* code blocks by code tag */
div.dokuwiki pre.code {
  font-size: 8pt;
  padding: 0.5em;
  border: 1px dashed #000000;
  color: Black;
  overflow: visible;
}

/* inline code words */
div.dokuwiki code {
  font-size: 120%;
}

/* code blocks by file tag */
div.dokuwiki pre.file {
  font-size: 8pt;
  padding: 0.5em;
  border: 1px dotted #000000;
  color: Black;
  overflow: visible;
}

/* footnotes */
div.dokuwiki div.footnotes{
  clear:both;
  border-top: 1px solid #000000;
  padding-left: 1em;
  margin-top: 1em;
}

div.dokuwiki div.fn{
  font-size:90%;
}

div.dokuwiki a.fn_top{
  vertical-align:super;
  font-size:80%;
}

div.dokuwiki a.fn_bot{
  vertical-align:super;
  font-size:80%;
  font-weight:bold;
}

div.dokuwiki acronym{
  border: 0;
}

/* ---------- inline tables ------------------- */

div.dokuwiki table.inline {
  font-size: 80%;
  background-color: #ffffff;
  border-spacing: 0px;
  border-collapse: collapse;
}

div.dokuwiki table.inline th {
  padding: 3px;
  border: 1px solid #000000;
  border-bottom: 2px solid #000000;
}

div.dokuwiki table.inline td {
  padding: 3px;
  border: 1px solid #000000;
}

div.dokuwiki .leftalign{
  text-align: left;
}

div.dokuwiki .centeralign{
  text-align: center;
}

div.dokuwiki .rightalign{
  text-align: right;
}

div.dokuwiki .toc, div.dokuwiki .footerinc, div.dokuwiki .header, div.dokuwiki .bar, div.dokuwiki .user {display:none}
