/**
 * css for arctic template 
 *
 * @author Michael Klier <chi@chimeric.de> 
 */

div.left_sidebar a.wikilink2:link,
div.left_sidebar a.wikilink2:active,
div.left_sidebar a.wikilink2:visited,
div.left_sidebar a.wikilink1:link,
div.left_sidebar a.wikilink1:active,
div.left_sidebar a.wikilink1:visited,
div.left_sidebar a.interwiki:link,
div.left_sidebar a.interwiki:active,
div.left_sidebar a.interwiki:visited,
div.left_sidebar a.urlextern:link,
div.left_sidebar a.urlextern:active,
div.left_sidebar a.urlextern:visited
{
  color:#436976;
  padding:0.2em;
  background:none;
  width:180px;
  line-height:140%;
}

div.left_sidebar a.wikilink2:hover,
div.left_sidebar a.wikilink1:hover,
div.left_sidebar a.interwiki:hover,
div.left_sidebar a.urlextern:hover {
  text-decoration:none;
  color:#c37439;
  padding:0.2em;
  width:180px;
  line-height:140%;
}

div.left_sidebar h1,
div.left_sidebar h2,
div.left_sidebar h3,
div.left_sidebar h4,
div.left_sidebar h5,
div.left_sidebar h6 {
  font-size:0.8125em;
  font-family: Verdana;
  font-weight:bold;
  padding-bottom:0;
}

div.right_sidebar a.wikilink2:link,
div.right_sidebar a.wikilink2:active,
div.right_sidebar a.wikilink2:visited,
div.right_sidebar a.wikilink1:link,
div.right_sidebar a.wikilink1:active,
div.right_sidebar a.wikilink1:visited,
div.right_sidebar a.interwiki:link,
div.right_sidebar a.interwiki:active,
div.right_sidebar a.interwiki:visited,
div.right_sidebar a.urlextern:link,
div.right_sidebar a.urlextern:active,
div.right_sidebar a.urlextern:visited
{
  color:#436976;
  padding:0.2em;
  background:none;
  width:180px;
  line-height:140%;
}

div.right_sidebar a.wikilink2:hover,
div.right_sidebar a.wikilink1:hover,
div.right_sidebar a.interwiki:hover,
div.right_sidebar a.urlextern:hover {
  text-decoration:none;
  color:#c37439;
  padding:0.2em;
  width:180px;
  line-height:140%;
}

div.right_sidebar h1,
div.right_sidebar h2,
div.right_sidebar h3,
div.right_sidebar h4,
div.right_sidebar h5,
div.right_sidebar h6 {
  font-size:0.8125em;
  font-family: Verdana;
  font-weight:bold;
  padding-bottom:0;
}
