; ARCTIC-TEMPLATE-DEFAULT-STYLE.INI
; 
; @author: Michael Klier <chi@chimeric.de>

[stylesheets]
layout.css        = screen
arctic_layout.css = screen
design.css        = screen
arctic_design.css = screen
style.css         = screen
media.css         = screen
arctic_media.css  = screen
rtl.css           = rtl
arctic_rtl.css    = rtl
print.css         = print
arctic_print.css  = print

[replacements]
; LAYOUT
__widthWiki__     = 90%
__heightHeader__  = 5em
__paddingFooter__ = 2.5em
__marginBody__    = 1.5em
__paddingWiki__   = 0.5em;

; FONT-SIZES AND FONT-COLORS
__FontSize__        = 0.8125em
__LineHeight__      = 150%
__PageNameColor__   = #f8f8f8
__LogoColor__       = #f8f8f8
__SidebarH1Bg__     = #eaeaea

; LAYOUT-COLORS 
__BodyBg__         = #ffffff
__WikiBg__         = #f8f8f8
__WikiHeaderBg__   = #436976
__WikiFooterBg__   = #436976
__FormBorder__     = #c3c3c3

; These are the style.ini-parts of the original dokuwiki-default-template
; I keep it here to be compatible to plugin-manager etc.
; various shades of gray, mainly used for backgrounds and texts
__white__      = #fff
__lightgray__  = #f5f5f5
__mediumgray__ = #ccc
__darkgray__   = #666
__black__      = #333

; these are the shades of blue
__lighter__   = #f7f9fa
__light__     = #eef3f8
__medium__    = #bdd1d7
__dark__      = #436976
__darker__    = #638c9c

; these are used for links
__extern__    = #436976
__existing__  = #c37439
__missing__   = #f30

; highlighting search snippets
__highlight__ = #ff9

; setup vim: ts=2 sw=2:
